<%- include head.ejs %>
<body ng-app="app" ng-controller="InitController as init">
	<%- include toolbar.ejs %>
	<%- include logo.ejs %>
	<div ng-controller="GuitarController as guitar" class="guitar-container">
		<div ng-controller="SelectorController as select">
			<div ng-controller="FilterController as filter">
				<%- include tuning.ejs %>
				<%- include fretboard.ejs %>
				<%- include selectors.ejs %>
				<%- include chord-filters.ejs %>
			</div>
		</div>
	</div>

	<div class="key-inputs_container">
		<div ng-controller="KeyboardController as keyboard">
			<div ng-controller="MpcController as mpc">
				<div ng-controller="ResultsController as results">
					<div class="key-inputs_group">
						<% var chordbankId= '0'; %>
						<%- include keyboard.ejs %>
						<%- include mpc.ejs %>
						<%- include results.ejs %>
					</div>
					<div class="key-inputs_group">
						<% var chordbankId= '1'; %>
						<%- include keyboard.ejs %>
						<%- include mpc.ejs %>
						<%- include results.ejs %>
					</div>
					<div class="key-inputs_group">
						<% var chordbankId= '2'; %>
						<%- include keyboard.ejs %>
						<%- include mpc.ejs %>
						<%- include results.ejs %>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
